<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Ice Cream!</title>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
   <script src="js/angular/app.js"></script>
 </head>
<body ng-app="iceCreamApp">

  <div ng-view></div>


</body>
</html>
